<a href="https://colab.research.google.com/github/JuanA093/Ejercicios/blob/main/Listas_py_pild.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
listaPrueba=('dato1', 'dato2', 'dato3')
print(listaPrueba)

('dato1', 'dato2', 'dato3')

In [9]:
def Tuplas():
  tuplaPrueba=('dato1','dato2','dato3')
  miLista=list(tuplaPrueba)
  print(tuplaPrueba)
Tuplas()

('dato1', 'dato2', 'dato3')

***CONVERTIR LISTAS A TUPLAS***

In [6]:
def pruebaTuplas():
  miLista=['Tom',1,'Juan', 2, 'Elvirita',3 ]
  miTupla=tuple(miLista)
  print(miTupla)
pruebaTuplas()

('Tom', 1, 'Juan', 2, 'Elvirita', 3)

In [9]:
def pruebaTuplas():
  miLista=['Tom',1,'Juan', 2, 'Elvirita',3 ]
  miTupla=tuple(miLista)
  print('Elvirita'in miTupla)
pruebaTuplas()

True

In [15]:
def pruebaTuplas():
  miLista=['Tom',1,'Juan', 2, 'Elvirita',3 ]
  miTupla=tuple(miLista)
  print(len(miTupla))
pruebaTuplas()

6

***DESEMPAQUETADO DE TUPLAS***

In [2]:
miTupla=("Elvirita",16,3,1952)
nombre, dia, mes, agno=miTupla
print(nombre)
print(dia)
print(agno)
print(mes)

Elvirita
16
1952
3